<div class="card">    
    <form name="form" (ngSubmit)=" onSubmit(f)" #f="ngForm" novalidate>    
        <div class="card-body pb-0">    
            <div class="card">    
                <div class="card-header main-search dash-search">    
                    <h1 style="text-align: center; color: black;">    
                        ADMINISTRACIÓN METODOS DE PAGO  
                    </h1>    
                </div>    
            </div>    
            <div class="row">    
                <div class="col-12 col-md-12">    
                    <div class="card">    
                        <div *ngIf="!updateMetop" class="card-header" style="color: black;">    
                            AGREGAR METODO DE PAGO
                            <h3 *ngIf="formSubmitted" style="text-align: center; color: green;">Nuevo metodo de pago ha sido agregado exitosamente...
                              </h3>    
                            <h3 *ngIf="isDelete" style="text-align: center; color: green;">Metodo de pago ha sido eliminado exitosamente...</h3>    
                        </div>    
    
                        <div *ngIf="updateMetop" class="card-header">    
                            Actualizar Metodo de pago
                            <h3 *ngIf="formSubmitted" style="text-align: center; color: green;">Metodo de pago existente ha    
                                sido actualizado exitosamente    
                                </h3>    
                        </div>    
    
                        <div class="card-body">    
                            <div class="center-form">    
                                <div class="row">    
                                    <div class="col-12 col-md-6">    
                                        <div class="form-group">    
                                            <label class="col-form-label">Tipo<span    
                                                    class="mandatoryFieldColor">*</span></label>    
                                            <input type="text" class="form-control" name="TipoMetodoPago" autofocus    
                                                [(ngModel)]="Metop.TipoMetodoPago" #metop="ngModel"    
                                                [ngClass]="{ 'is-invalid': f.submitted && metop.invalid }" required />    
                                            <div *ngIf="f.submitted && metop.invalid" class="invalid-feedback">    
                                                <div *ngIf="metop.errors.required || metop.pristine==false">Metodo de pago   
                                                    is required</div>    
                                            </div>    
                                        </div>    
                                    </div>    
                                   
    
                                    <div class="col-12 col-md-12">    
                                        <div class="btn-group mb-3 mt-2 cmn-btn-grp">    
                                            <button *ngIf="!updateMetop" type="submit" style="margin-left:1px"    
                                                class="btn btn-success">Agregar    
                                                Metodo de pago</button>    
                                            <button *ngIf="updateMetop" type="submit" style="margin-left:1px"    
                                                class="btn btn-success">Actualizar   
                                                Metodo de pago</button>    
                                        </div>    
                                    </div>    
                                </div>    
                            </div>    
                        </div>    
                    </div>    
                </div>    
    
                <div class="col-12 col-md-12">    
                    <div class="card">    
                        <div class="card-header" style="color: black; text-align: center;">Administrar Metodo de pago </div>    
                        <div class="card-body position-relative">    
                            <div class="table-responsive cnstr-record product-tbl">    
                                <table class="table table-bordered heading-hvr">    
                                    <thead>    
                                        <tr style="color: black;">    
                                            <th class="active">Tipo</th>    
                                         
                                            <th width="60"> </th>    
                                            <th width="60"> </th>    
                                        </tr>    
                                    </thead>    
                                    <tbody>    
                                        <tr *ngFor="let metopList of metops">    
                                            <td>{{metopList.TipoMetodoPago}}</td>    
                                     
                                            <td class="case-record">    
                                                <button type="button" class="btn btn-info"    
                                                    (click)="editMetop(metopList.id)">Edit</button>    
    
                                            </td>    
                                            <td> <button type="button" class="btn btn-danger"    
                                                    (click)="deleteMetop(metopList.id)">Delete</button></td>    
                                        </tr>    
                                    </tbody>    
                                </table>    
                            </div>    
                        </div>    
                    </div>    
                </div>    
    
            </div>    
        </div>    
    </form>    
</div>     