
                <div id="carousel1" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="assets/img/pexels-polina-tankilevitch-5469042.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="assets/img/gold-bear-gummi-bears-bear-yellow-55825.jpeg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="assets/img/pexels-photo-4016510.jpeg" alt="Third slide">
                        </div>
                        </div>
                    </div>
  




     <div class="bg-light">
            <div class="container py-5">
              <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                  <h2 class="font-weight-light">1...2...3 La diversion está por comenzar...</h2>
                  <p class="font-italic text-muted mb-4">Siempre hay espacio para el dulce.</p>
                </div>
                <div class="col-lg-5 px-10 mx-auto order-1 order-lg-2"><img src="assets/img/pexels-photo-4902634.jpeg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
              </div>
              <div class="row align-items-center">
                <div class="col-lg-5 px-10 mx-auto"><img src="assets/img/pexels-photo-1375807.jpeg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                <div class="col-lg-6">
                  <h2 class="font-weight-light">Estás muy cerca de vivir la experiencia azucarada...</h2>
                  <p class="font-italic text-muted mb-4">Donde quiera que estés.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-light">
                <div class="container py-5">
                  <div class="row align-items-center mb-5">
                    <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                      <h2 class="font-weight-light">Sabes que lo mereces...</h2>
                      <p class="font-italic text-muted mb-4">La vida es muy corta, comete el postre primero.</p>
                    </div>
                    <div class="col-lg-5 px-10 mx-auto order-1 order-lg-2"><img src="assets/img/pexels-photo-1540408.jpeg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-lg-5 px-10 mx-auto"><img src="assets/img/pexels-photo-3127880.jpeg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                    <div class="col-lg-6">
                      <h2 class="font-weight-light">Los más pequeños serán los mas felices...</h2>
                      <p class="font-italic text-muted mb-4">Para el postre y para la sonrisa, siempre hay espacio.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-light">
                    <div class="container py-5">
                      <div class="row align-items-center mb-5">
                        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                          <h2 class="font-weight-light">LLegaran tan rápido que ni te darás cuenta...</h2>
                          <p class="font-italic text-muted mb-4">A quien no le gusta lo suanfoson.</p>
                        </div>
                        <div class="col-lg-5 px-10 mx-auto order-1 order-lg-2"><img src="assets/img/pexels-photo-4016820.jpeg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                      </div>
                      <div class="row align-items-center">
                        <div class="col-lg-5 px-10 mx-auto"><img src="assets/img/pexels-photo-2902153.jpeg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                        <div class="col-lg-6">
                          <h2 class="font-weight-light">La diversión acaba de llegar.</h2>
                          <p class="font-italic text-muted mb-4">Esperamos tu orden :)</p>
                        </div>
                      </div>
                    </div>
                  </div>

  <div class="banner">
      
          <a style="color: #FF5850" href="#">back to top</a>

    
  </div>