/* SHOWCASE */

  .showcase{
      width: 100%;
      height: 550px;
      background-image: url("src/assets/img/pexels-polina-tankilevitch-5469042.jpg");
      margin-bottom: 40px;
      background-position: center;
      padding: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      
  
  }
  .btn{
   cursor: pointer;
   display: inline-block;
   border: 0;
   font-weight: bold;
   padding: 10px 20px;
   background: #262626;
   color: white;
   font-size: 15px;
   border: 1px solid #ffff;
   margin: 10px 0px;
  
  }
  .btn:hover{
      opacity: .7;
  }
  .showcase h1, .showcase p{
      margin-bottom: 10px;
  }

/* cards */
.cards{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    margin: 10px 0px;
}
.cards img{
    width: 80%;
    height: 300px;
    
}
.cards h3{
    font-size: 20px;
    margin: 10px 0px;

}
.cards a{
    padding: 10px;
    color: f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;

}
.cards a:hover{
 text-decoration: underline;
    
}
/* minibanner */
.banner{
    background: turquoise;
    
}
.banner a{
    font-size: 22px;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
  

}

